body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#serverinfo {
  margin-left: 10px;
  height: 20px;
}

html,body {
  height: 100%;
}

#map {
  height: 95%;
}
